<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Files from Google Drive</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div id="grid"></div>
    </section>
</div>
@section scripts {
    <script src="~/Scripts/odataGrid.js"></script>
}